<div class="d-flex flex-wrap bd-highlight">
  <div class="flor1"><img src="flor1.png" width="200px" height="300px" alt="metal-slug" /> 
    <h3>Bouquet of lilac flowers</h3>
  
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="flor2"><img src="flor2.png" width="200px" height="300px" alt="metal-slug" />
    <h3>Bouquet of white flowers</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="flor3"><img src="flor3.png" width="200px" height="300px" alt="metal-slug" />
    <h3>Bouquet of lilac flowers</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="flor4"><img src="flor4.png" width="200px" height="300px" alt="metal-slug" />
    <h3>Bouquet of pink flowers</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <style>
.flor1:hover{
      transform: scale(1.1);
      transition: all 0.5s;
  }

  .flor2:hover{
      transform: scale(1.1);
      transition: all 0.5s;
  }
  
  .flor3:hover{
      transform: scale(1.1);
      transition: all 0.5s;
  }

  .flor4:hover{
      transform: scale(1.1);
      transition: all 0.5s;
  }

  .flor1:hover{
      transform: scale(1.1);
      transition: all 0.5s;
  }

  </style>
  