<div class="d-flex flex-wrap bd-highlight">
  <div class="order-3 p-2 bd-highlight"><img src="home1.png" width="500px" height="800px" alt="metal-slug" /></div>
  <div class="order-3 p-2 bd-highlight"><img src="home2.png" width="500px" height="800px" alt="metal-slug" /></div>
  
  